.skills-section{

    padding:40px 8% 80px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;

}

.skills-section h2{

    font-size:52px;
    color:white;
    margin-bottom:15px;
    font-family:"Space Grotesk",sans-serif;

}

.skills-section p{

    color:#aab7cf;
    font-size:18px;
    text-align:center;
    max-width:650px;
    margin-bottom:80px;

}

.skills-container{

    position:relative;
    width:1100px;
    height:700px;

}

.core-circle{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:130px;
    height:130px;

    border-radius:50%;

    background:linear-gradient(135deg,#2563eb,#38bdf8);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:55px;

    color:white;

    box-shadow:0 0 40px rgba(37,99,235,.6);

    animation:pulse 3s infinite;

}

.skill{

    position:absolute;

    top:50%;
    left:50%;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:12px;

}

.skill-icon{

    width:80px;

    height:80px;

    border-radius:50%;

    background:#111827;

    border:2px solid rgba(59,130,246,.35);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:36px;

    cursor:pointer;

    transition:.35s;

    animation:float 5s ease-in-out infinite;

    will-change:transform;

}

.skill span{

    color:white;

    font-size:15px;

    font-weight:600;

}

.skill-icon:hover{

    transform:scale(1.18);

    box-shadow:0 0 30px rgba(59,130,246,.8);

    background:#1e293b;

}

.skill:nth-child(2) .skill-icon{

animation-delay:.4s;

}

.skill:nth-child(3) .skill-icon{

animation-delay:1s;

}

.skill:nth-child(4) .skill-icon{

animation-delay:1.5s;

}

.skill:nth-child(5) .skill-icon{

animation-delay:2s;

}

.skill:nth-child(6) .skill-icon{

animation-delay:2.5s;

}

.skill:nth-child(7) .skill-icon{

animation-delay:3s;

}

.skill:nth-child(8) .skill-icon{

animation-delay:3.5s;

}

.skill:nth-child(9) .skill-icon{

animation-delay:4s;

}

.skill:nth-child(10) .skill-icon{

animation-delay:4.5s;

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0px);

}

}

@keyframes pulse{

0%{

transform:translate(-50%,-50%) scale(1);

}

50%{

transform:translate(-50%,-50%) scale(1.08);

}

100%{

transform:translate(-50%,-50%) scale(1);

}

}

@media(max-width:900px){

.skills-container{

width:100%;
height:550px;

}

.skill-icon{

width:65px;
height:65px;
font-size:28px;

}

.core-circle{

width:90px;
height:90px;
font-size:40px;

}

}